<div class="single-user">
<!-- Total cash input -->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="totalCash">Total Cash</label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-usd"></i>
        </span>
        <input class="form-control" id="totalCash" name="tCash" ng-model="totalCash" placeholder="Total Cash" required="" type="number">
      </div>
    </div>
  </div>
<!-- Total credit input -->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="totalCredit">Total Credit</label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-credit-card"></i>
        </span>
        <input class="form-control" name="tCredit" ng-model="totalCredit" placeholder="Total Credit" required type="number">
      </div>
    </div>
  </div>
  <h4 class="text-center">Exclude from tips?</h4>
  <div class="btn-group btn-group-justified btn-exclude" role="group">
    <div class="btn-group" role="group">
      <button class="btn btn-default" ng-click="exclude(1)" type="button" value="1">Cash</button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-default" ng-click="exclude(2)" type="button" value="2">Credit</button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-default" ng-click="exclude(3)" type="button" value="3">Both</button>
    </div>
  </div>
  <div class="form-group" ng-show="showExclude">

    <label class="col-sm-3 control-label" for="to-exclude">Set % from
      {{excluded}}</label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-scissors"></i>
        </span>
        <input class="form-control" name="to-exclude" ng-model="setToExclude" placeholder="Set % to exclude" step="1" type="number">
      </div>
    </div>
  </div>
  <hr>
<!-- Show users via list by ng-repeat directive -->
  <div class="show-users-form">
    <ul>
      <li ng-repeat="worker in workers">
        <h3 class="text-center">{{worker.workerName}}
          <small>
            worked
            {{worker.hours}}
            hours.</small>
        </h3>
      </li>
    </ul>
  </div>
<!-- Name input -->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="waitererName">Name</label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-user"></i>
        </span>
        <input class="form-control" id="waitererName" name="wName" ng-model="tipFormName" placeholder="Name" required="" type="text">
      </div>
    </div>
  </div>
<!-- hours input -->
  <div class="form-group">
    <label class="col-sm-3 control-label" for="waitererHours">Hours</label>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-time"></i>
        </span>
        <input class="form-control" id="waitererHours" ng-model="tipFormHours" placeholder="Hours" step="0.25" type="number">
      </div>
    </div>
  </div>
  <br>
<!-- Showing error alerts (if there are some) -->
  <div class="formErrors">
    <div ng-show="masterForm.$submitted || masterForm.tCash.$touched">
      <div class="text-center alert alert-danger" ng-show="masterForm.tCash.$error.required">How much is the total cash?</div>
    </div>
    <div ng-show="masterForm.$submitted || masterForm.tCredit.$touched">
      <div class="text-center alert alert-danger" ng-show="masterForm.tCredit.$error.required">How much is the total credit?</div>
    </div>
  </div>
<!-- Form buttons -->
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <input class="btn btn-default" ng-click="addUser()" type="button" value="Add User">
    </div>
    <div class="btn-group" role="group">
      <input class="btn btn-default" ng-click="calculateTips()" type="button" value="Calculate">
    </div>
  </div>
</div>
